@using DemoSlide3.Services
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
<ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="navbar-text text-dark">Hello, @User.Identity.Name!</span>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }

</ul>